.about {

  &__label {
    position: relative;
    opacity: 0.2;
    text-transform: uppercase;
	  font-size: 4.6em;
	  font-weight: bold;
	  text-align: center;
	  color: $tealishColor;
    margin: 4.7rem 0;

    &-arrow {
      margin-bottom: 7.14rem;
      text-align: left;

      span {
        background: #fff;
        padding-right: 0.3em;
      }

      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        z-index: -1;
        width: 100vw;
        height: 3px;
        background: #979797;
      }
    }
  }

  &__boast {
    margin: 5.7rem auto;
  }

  &__box {
    text-align: left;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 5rem;
    font-size: 1.7em;
    background: $tealishColor;
    color: #fff;

    &-nobg {
      margin-top: 4.28em;
      text-align: left;
      font-size: 1.28em;
      max-width: 40rem;
    }
  }

  &__desc {

    &--bg {
      font-size: 1.7em;
      padding: 6rem 0;
      background: $tealishColor;
      color: #fff;
    }

    &--fruid {
      text-align: justify;
	    color: #393939;
      margin: 3.2em 0;
      font-size: 1.28em;
      max-width: 54rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .parallax-container {
    position: relative;
    overflow: hidden;
    min-height: 350px;

    &__desc {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      font-size: 1.5rem;
	    color: #fff;
    }

    &__logo {
      margin-bottom: 1.5rem;
    }
  }

  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
      display: none;
      position: absolute;
      left: 50%;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      transform: translate3d(0, 0, 0);
      transform: translateX(-50%);
    }
  }
}
