.bread-crumbs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    &:not(:last-child) {
      opacity: 0.6;
    }

    &:not(:first-child) {
      &::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 3px;
        margin: 0 6px;
        background: rgba($textColor, 0.6);
      }
    }

    &:last-child {
      &::before {
        background: $tealishColor;
      }
    }
  }
}
