.menu-btn {
  background: $tealishColor;
  padding: 0.9em;
  color: #fff;
}

.btn {
  font-size: 1.3em;
  color: #fff;
  padding: 0.8em 2.3em;
  background: $tealishColor;
  border: 2px solid $tealishColor;
  display: inline-block;

  &--no-bg {
    background-color: transparent;
  }

  &-gray {
    $color: #9b9b9b;
    background: $color;
    border-color: $color;
  }
}

.more {
  border-bottom: 1px dotted $tealishColor;
  font-size: 1.4em;
  margin: 1.4em 0;
}

.btn,
.more {
  display: inline-block;
}
