.cart {
  &-item {
    margin-bottom: 7em;

    &__name {
      font-weight: 500;
      font-size: 1.3em;
    }

    &__remove {
      font-size: 1.28em;
      color: #000;
    }

    .label {
      background: $tealishColor;
      padding: 0.4em 0.7em;
      border-radius: 2px;
      color: #fff;
      margin-left: 0.35em;
    }

    &__value {
      font-weight: 600;
      color: $tealishColor;
      font-size: 1.28em;
      margin-right: 1.7em;
    }

    &__number {
      font-size: 1.28em;
      margin-right: 0.5rem;
    }
  }

  .all-value {
    display: inline-block;
    font-size: 3em;
    border-top: 5px solid $tealishColor;
  }

  .btn {
    display: table;
    margin-top: 5.7em;
    margin-left: auto;
    margin-right: auto;
  }

  .up,
  .down {
    color: #9b9b9b;
  }

  .up {
    [class^="icon-"]::before,
    [class*=" icon-"]::before {
      transform: rotateX(180deg);
    }
  }
}

.order-value {
  color: #d0011b;

  p {
    display: inline-block;
    padding-right: 50px;
    padding-bottom: 5px;
    margin: 0;
    border-bottom: 2px solid #d0011b;
  }
  .value {
    font-size: 4em;
    margin: 0;
  }
}
