.comfort {

  .sub-title {
    font-size: 2.57rem;
    margin-bottom: 1.4em;
  }

  &__box {
    font-family: 'Anglecia Pro Dsp', serif;
    margin-bottom: 5.7rem;
    padding: 5.3rem 3rem;
    font-size: 2.57rem;
    color: #fff;
    background: $tealishColor;
    text-align: center;

    &--min {
      max-width: 830px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__desc {
    text-align: justify;
    font-size: 18px;

    img {
      margin: 5.7rem 0;
    }

    &--centered {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .margin {
    margin: 5.7rem 0;
  }

  .margin-bottom {
    margin-bottom: 5.7rem;
  }

  .margin-top {
    margin-top: 5.7rem;
  }


}