.delivery {
  .row {
    font-size: 1.4em;
      // &::before {
      //   content: '';
      //   width: 101px;
      //   height: 3px;
      //   background: $tealishColor;
      // }
  }
}

.delivery-item {
  position: relative;
  margin: 3.85rem 0;

  &__name {
    font-family: 'Anglecia Pro Dsp';
	  font-size: 2.14rem;
	  color: $textColor;
    padding: 2rem 0;
  }

  .numbers {
    position: absolute;
    transform: translateY(-30%) translateX(-30%);
    top: 0;
    opacity: 0.3;
	  font-family: 'Anglecia Pro Dsp';
	  font-size: 5rem;
	  color: $tealishColor;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 20%;
    z-index: -1;
  }
}
