.footer {
  margin-top: 10.7em;

  &::before {
    content: '';
    display: block;
    max-width: 55rem;
    margin: 3.6em auto;
    height: 3px;
    border: none;
    opacity: 0.2;
    background: #979797;
  }

  .copyright {
    margin: 3.6rem;
    text-align: center;
    font-size: 0.85em;
  }

  &__nav {
    line-height: 1.9;
    margin-bottom: 2.14rem;
  }
}

.nav-list {
  &__link {
    &[href^="mailto:"],
    &[href^="tel:"] {
      border-bottom: 2px dotted $tealishColor;
    }
  }
}
