.form {
  &__group {
    margin-bottom: 5.7em;
  }

  &__control {
    border: solid 1px #e2e2e2;
    width: 100%;
    padding: 2.14em 3.5em;

    &::placeholder {
      column-rule: #9b9b9b;
      font-size: 1.3em;
    }
  }

  .forgot-password {
    float: right;
    margin-top: 1em;
    color: $tealishColor;
  }

  .btn-full {
    width: 100%;
  }

  textarea {
    resize: none;
  }
}
