.fullpage {
  color: #fff;

  .section {
    &__poster {
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100vh;
      z-index: -1;
    }
  }
}

.fullpage {
  .block {
    margin-bottom: -125px;
    &__type {
      font-size: 1.57em;
  	  font-weight: 300;
      text-transform: lowercase;
    }

      &__desc {
        margin: 0;
        font-size: 1.15em;
        line-height: 1.5;
      }

      &__more {
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 125px;
      }
  }
}

@media screen and (min-width: 768px) {
  .fullpage-menu {
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fullpage-menu {
  position: absolute;
  z-index: 10;
  font-size: 1.3em;

  &__item {
    &.active,
    &:hover {
      .fullpage-menu__link::before {
        background-color: $tealishColor;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;

    &::before {
      content: '';
      display: block;
      width: 48px;
      height: 5px;
      background: #9b9b9b;
      transition: background 0.3s ease-in, width 0.35s ease-in;
    }

    span {
      margin-left: 0.5em;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
  }

  .active {
    .fullpage-menu__link {
      &::before {
        width: 10px;
      }

      span {
        opacity: 1;
      }
    }
  }
}
