.header {
  padding: 2.6em 0;

  .logo {
    margin-right: 2.4em;
  }

  &--main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  &--white {
    .nav,
    .user-panel {
      &__item {
        color: #fff;
      }

      .icon {
        fill: #fff;
      }
    }
  }
}
