@media screen and (max-width: 768px) {


  .main .title {
    font-size: 1.7em;
    text-align: center;
  }

  .nav {
    display: none;
  }

  .container {
    padding: 0 1em;
  }

  .fullpage-menu {
    bottom: 30px;
    left: 30px;
  }

  .header .logo {
    margin-right: 0;
  }

  .footer {
    margin-top: 7em;

    .copyright {
      margin: 0 0 3em;
    }
  }

  .footer__nav {
    display: none;
  }

  .login {
    &__poster {
      display: none;
    }

    .btn {
      max-width: 300px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .product-single{
    &__poster {
      margin-bottom: 3.5em;
    }

    &__data {
      text-align: center;
    }

    &__desc {
      text-align: justify;
    }

    .add-to-cart {
      margin-top: 1em;
      max-width: 320px;
      width: 100%;
    }
  }

  .cart-item {
    position: relative;
    text-align: center;

    &__remove {
      position: absolute;
      top: 0;
      right: 1em;
      font-size: 2em;
    }
  }

  .cart .up, .cart .down {
    background: $tealishColor;
    color: #fff;
    padding: 0.4em 0.2em;
  }

  .form__group {
    margin-bottom: 2.8em;
  }

  .order-value {
    margin: 2em 0 4em;
  }

  .order .btn,
  .order .btn--no-bg {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }

  .order .back {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    float: none;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .fullpage-menu {
    font-size: 1.2em;
    margin: 0;
  }

  .fullpage .block {
    margin-bottom: 0;

    &__typem,
    &__more {
      font-size: 1.2em;
    }

    .title {
      font-size: 2.3em;
    }

    &__desc {
      font-size: 1.14em;
    }

    &__more {
      margin-top: 20px;
    }
  }
}
