.order {
  &-name {
    font-size: 1.14rem;
    margin-bottom: 1.5rem;
  }

  .btn--no-bg {
    color: #9b9b9b;
  }

  textarea {
    max-width: 900px;
    resize: none
  }

  .back {
    float: right;
    font-size: 1.57em;
	  font-weight: 500;
	  color: $tealishColor;
    margin-right: 20%;

    [class^="icon-"]::before,
    [class*=" icon-"]::before {
      transform: rotate(90deg);
    }
  }
}
