.product {
  width: 14rem;
  margin: 4.9em auto;
  text-align: center;

  &:hover {
    .product__poster::before {
      transform: scale(1.15);
    }
  }

  &__link {
    display: block;
  }

  &__poster {
    position: relative;
    min-height: 14rem;
    margin: 0;

    img {
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14rem;
      height: 14rem;
      border-radius: 50%;
      border: 0.8em solid $tealishColor;
      box-sizing: border-box;
      z-index: -1;
      transform: scale(1);
      transition: transform ease-in 0.3s;
    }
  }

  &__name {
    margin-top: 1em;
    font-weight: 300;
    font-size: 1.14em;
  }
}

.product-single {
  margin-top: 5.7em;

  .title {
    margin-bottom: 1.4rem;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
  }

  &__poster {
    padding: 2em 1em;
    position: relative;

    img {
      width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 75%;
      height: 100%;
      background: $tealishColor;
      z-index: -1;
    }
  }

  &__value {
    font-family: 'Anglecia Pro Dsp';
	  font-size: 2rem;
    color: $tealishColor;
  }

  &__data {
    margin: 3.2em 0;
  }

  &__desc {
    line-height: 1.5;
	  color: #898989;
    font-size: 1.14em;
  }
}
