* {
  box-sizing: border-box;
}

body {
  background: $bodyColor;
  font-family: $fontFamily;
  color: $textColor;
  font-size: $fontSize;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  overflow-y: auto;
}

.title {
  font-size: 3em;
}

.sub-title {
  font-size: 2em;
}

.title,
.sub-title {
  font-family: 'Anglecia Pro Dsp';
  font-weight: 300;
  margin: 1.3rem 0 1rem;

  &--underline {
    display: inline-block;
    border-bottom: solid 2px $tealishColor;
  }
}

.main {
  margin: 5rem 0 0;

  .title {
    margin: 0 0 3.6rem;
  }
}

.register-link {
  display: inline-block;
  margin: 1em 0;
  font-size: 1.7em;
  font-weight: 500;
  color: $tealishColor;
}

img {
  max-width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $textColor;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
