@import url(../fonts/angleciadisplay/angleciadisplay.css);
@import url(../fonts/raleway/raleway.css);
@import url(../fonts/fontello/css/fontello.css);
* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  color: #4a4a4a;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  overflow-y: auto;
}

.title {
  font-size: 3em;
}

.sub-title {
  font-size: 2em;
}

.title,
.sub-title {
  font-family: 'Anglecia Pro Dsp';
  font-weight: 300;
  margin: 1.3rem 0 1rem;
}

.title--underline,
.sub-title--underline {
  display: inline-block;
  border-bottom: solid 2px #0e9e87;
}

.main {
  margin: 5rem 0 0;
}

.main .title {
  margin: 0 0 3.6rem;
}

.register-link {
  display: inline-block;
  margin: 1em 0;
  font-size: 1.7em;
  font-weight: 500;
  color: #0e9e87;
}

img {
  max-width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #4a4a4a;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  vertical-align: middle;
}

figure {
  margin: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.header {
  padding: 2.6em 0;
}

.header .logo {
  margin-right: 2.4em;
}

.header--main {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header--white .nav__item,
.header--white .user-panel__item {
  color: #fff;
}

.header--white .nav .icon,
.header--white .user-panel .icon {
  fill: #fff;
}

.nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.nav__item {
  margin: 0 2.3rem;
  color: #4a4a4a;
  font-size: 1.14em;
}

.menu-btn {
  background: #0e9e87;
  padding: 0.9em;
  color: #fff;
}

.btn {
  font-size: 1.3em;
  color: #fff;
  padding: 0.8em 2.3em;
  background: #0e9e87;
  border: 2px solid #0e9e87;
  display: inline-block;
}

.btn--no-bg {
  background-color: transparent;
}

.btn-gray {
  background: #9b9b9b;
  border-color: #9b9b9b;
}

.more {
  border-bottom: 1px dotted #0e9e87;
  font-size: 1.4em;
  margin: 1.4em 0;
}

.btn,
.more {
  display: inline-block;
}

.user-panel {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-left: auto;
  font-size: 1.14em;
}

.user-panel__item {
  margin: 0 1.8em;
}

.user-panel .icon {
  color: #4a4a4a;
}

.fullpage {
  color: #fff;
}

.fullpage .section__poster {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: -1;
}

.fullpage .block {
  margin-bottom: -125px;
}

.fullpage .block__type {
  font-size: 1.57em;
  font-weight: 300;
  text-transform: lowercase;
}

.fullpage .block__desc {
  margin: 0;
  font-size: 1.15em;
  line-height: 1.5;
}

.fullpage .block__more {
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
}

@media screen and (min-width: 768px) {
  .fullpage-menu {
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.fullpage-menu {
  position: absolute;
  z-index: 10;
  font-size: 1.3em;
}

.fullpage-menu__item.active .fullpage-menu__link::before, .fullpage-menu__item:hover .fullpage-menu__link::before {
  background-color: #0e9e87;
}

.fullpage-menu__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
}

.fullpage-menu__link::before {
  content: '';
  display: block;
  width: 48px;
  height: 5px;
  background: #9b9b9b;
  transition: background 0.3s ease-in, width 0.35s ease-in;
}

.fullpage-menu__link span {
  margin-left: 0.5em;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fullpage-menu .active .fullpage-menu__link::before {
  width: 10px;
}

.fullpage-menu .active .fullpage-menu__link span {
  opacity: 1;
}

.product {
  width: 14rem;
  margin: 4.9em auto;
  text-align: center;
}

.product:hover .product__poster::before {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.product__link {
  display: block;
}

.product__poster {
  position: relative;
  min-height: 14rem;
  margin: 0;
}

.product__poster img {
  width: 100%;
}

.product__poster::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 0.8em solid #0e9e87;
  box-sizing: border-box;
  z-index: -1;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform ease-in 0.3s;
  transition: transform ease-in 0.3s;
  transition: transform ease-in 0.3s, -webkit-transform ease-in 0.3s;
}

.product__name {
  margin-top: 1em;
  font-weight: 300;
  font-size: 1.14em;
}

.product-single {
  margin-top: 5.7em;
}

.product-single .title {
  margin-bottom: 1.4rem;
}

.product-single h4 {
  font-size: 1rem;
  font-weight: 500;
}

.product-single__poster {
  padding: 2em 1em;
  position: relative;
}

.product-single__poster img {
  width: 100%;
}

.product-single__poster::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  height: 100%;
  background: #0e9e87;
  z-index: -1;
}

.product-single__value {
  font-family: 'Anglecia Pro Dsp';
  font-size: 2rem;
  color: #0e9e87;
}

.product-single__data {
  margin: 3.2em 0;
}

.product-single__desc {
  line-height: 1.5;
  color: #898989;
  font-size: 1.14em;
}

.bread-crumbs {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
}

.bread-crumbs__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.bread-crumbs__item:not(:last-child) {
  opacity: 0.6;
}

.bread-crumbs__item:not(:first-child)::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 3px;
  margin: 0 6px;
  background: rgba(74, 74, 74, 0.6);
}

.bread-crumbs__item:last-child::before {
  background: #0e9e87;
}

.footer {
  margin-top: 10.7em;
}

.footer::before {
  content: '';
  display: block;
  max-width: 55rem;
  margin: 3.6em auto;
  height: 3px;
  border: none;
  opacity: 0.2;
  background: #979797;
}

.footer .copyright {
  margin: 3.6rem;
  text-align: center;
  font-size: 0.85em;
}

.footer__nav {
  line-height: 1.9;
  margin-bottom: 2.14rem;
}

.nav-list__link[href^="mailto:"], .nav-list__link[href^="tel:"] {
  border-bottom: 2px dotted #0e9e87;
}

.product-slider {
  margin-top: 7.85em;
}

.product-slider .title {
  margin-bottom: 3.6rem;
}

.login__poster {
  text-align: center;
}

.form__group {
  margin-bottom: 5.7em;
}

.form__control {
  border: solid 1px #e2e2e2;
  width: 100%;
  padding: 2.14em 3.5em;
}

.form__control::-webkit-input-placeholder {
  -webkit-column-rule: #9b9b9b;
  column-rule: #9b9b9b;
  font-size: 1.3em;
}

.form__control:-ms-input-placeholder {
  column-rule: #9b9b9b;
  font-size: 1.3em;
}

.form__control::placeholder {
  -webkit-column-rule: #9b9b9b;
  column-rule: #9b9b9b;
  font-size: 1.3em;
}

.form .forgot-password {
  float: right;
  margin-top: 1em;
  color: #0e9e87;
}

.form .btn-full {
  width: 100%;
}

.form textarea {
  resize: none;
}

.delivery .row {
  font-size: 1.4em;
}

.delivery-item {
  position: relative;
  margin: 3.85rem 0;
}

.delivery-item__name {
  font-family: 'Anglecia Pro Dsp';
  font-size: 2.14rem;
  color: #4a4a4a;
  padding: 2rem 0;
}

.delivery-item .numbers {
  position: absolute;
  -webkit-transform: translateY(-30%) translateX(-30%);
  transform: translateY(-30%) translateX(-30%);
  top: 0;
  opacity: 0.3;
  font-family: 'Anglecia Pro Dsp';
  font-size: 5rem;
  color: #0e9e87;
}

.delivery-item__image {
  position: absolute;
  top: 0;
  left: 20%;
  z-index: -1;
}

.about__label {
  position: relative;
  opacity: 0.2;
  text-transform: uppercase;
  font-size: 4.6em;
  font-weight: bold;
  text-align: center;
  color: #0e9e87;
  margin: 4.7rem 0;
}

.about__label-arrow {
  margin-bottom: 7.14rem;
  text-align: left;
}

.about__label-arrow span {
  background: #fff;
  padding-right: 0.3em;
}

.about__label-arrow::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 3px;
  background: #979797;
}

.about__boast {
  margin: 5.7rem auto;
}

.about__box {
  text-align: left;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem 5rem;
  font-size: 1.7em;
  background: #0e9e87;
  color: #fff;
}

.about__box-nobg {
  margin-top: 4.28em;
  text-align: left;
  font-size: 1.28em;
  max-width: 40rem;
}

.about__desc--bg {
  font-size: 1.7em;
  padding: 6rem 0;
  background: #0e9e87;
  color: #fff;
}

.about__desc--fruid {
  text-align: justify;
  color: #393939;
  margin: 3.2em 0;
  font-size: 1.28em;
  max-width: 54rem;
  margin-left: auto;
  margin-right: auto;
}

.about .parallax-container {
  position: relative;
  overflow: hidden;
  min-height: 350px;
}

.about .parallax-container__desc {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
}

.about .parallax-container__logo {
  margin-bottom: 1.5rem;
}

.about .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.about .parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.cart-item {
  margin-bottom: 7em;
}

.cart-item__name {
  font-weight: 500;
  font-size: 1.3em;
}

.cart-item__remove {
  font-size: 1.28em;
  color: #000;
}

.cart-item .label {
  background: #0e9e87;
  padding: 0.4em 0.7em;
  border-radius: 2px;
  color: #fff;
  margin-left: 0.35em;
}

.cart-item__value {
  font-weight: 600;
  color: #0e9e87;
  font-size: 1.28em;
  margin-right: 1.7em;
}

.cart-item__number {
  font-size: 1.28em;
  margin-right: 0.5rem;
}

.cart .all-value {
  display: inline-block;
  font-size: 3em;
  border-top: 5px solid #0e9e87;
}

.cart .btn {
  display: table;
  margin-top: 5.7em;
  margin-left: auto;
  margin-right: auto;
}

.cart .up,
.cart .down {
  color: #9b9b9b;
}

.cart .up [class^="icon-"]::before,
.cart .up [class*=" icon-"]::before {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.order-value {
  color: #d0011b;
}

.order-value p {
  display: inline-block;
  padding-right: 50px;
  padding-bottom: 5px;
  margin: 0;
  border-bottom: 2px solid #d0011b;
}

.order-value .value {
  font-size: 4em;
  margin: 0;
}

.order-name {
  font-size: 1.14rem;
  margin-bottom: 1.5rem;
}

.order .btn--no-bg {
  color: #9b9b9b;
}

.order textarea {
  max-width: 900px;
  resize: none;
}

.order .back {
  float: right;
  font-size: 1.57em;
  font-weight: 500;
  color: #0e9e87;
  margin-right: 20%;
}

.order .back [class^="icon-"]::before,
.order .back [class*=" icon-"]::before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.comfort .sub-title {
  font-size: 2.57rem;
  margin-bottom: 1.4em;
}

.comfort__box {
  font-family: 'Anglecia Pro Dsp', serif;
  margin-bottom: 5.7rem;
  padding: 5.3rem 3rem;
  font-size: 2.57rem;
  color: #fff;
  background: #0e9e87;
  text-align: center;
}

.comfort__box--min {
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
}

.comfort__desc {
  text-align: justify;
  font-size: 18px;
}

.comfort__desc img {
  margin: 5.7rem 0;
}

.comfort__desc--centered {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.comfort .margin {
  margin: 5.7rem 0;
}

.comfort .margin-bottom {
  margin-bottom: 5.7rem;
}

.comfort .margin-top {
  margin-top: 5.7rem;
}

.contact__list {
  font-size: 18px;
  font-weight: 500;
}

.contact__list li {
  margin-bottom: 1.2rem;
}

.contact__list a {
  color: #0e9e87;
}

@media screen and (max-width: 768px) {
  .main .title {
    font-size: 1.7em;
    text-align: center;
  }
  .nav {
    display: none;
  }
  .container {
    padding: 0 1em;
  }
  .fullpage-menu {
    bottom: 30px;
    left: 30px;
  }
  .header .logo {
    margin-right: 0;
  }
  .footer {
    margin-top: 7em;
  }
  .footer .copyright {
    margin: 0 0 3em;
  }
  .footer__nav {
    display: none;
  }
  .login__poster {
    display: none;
  }
  .login .btn {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product-single__poster {
    margin-bottom: 3.5em;
  }
  .product-single__data {
    text-align: center;
  }
  .product-single__desc {
    text-align: justify;
  }
  .product-single .add-to-cart {
    margin-top: 1em;
    max-width: 320px;
    width: 100%;
  }
  .cart-item {
    position: relative;
    text-align: center;
  }
  .cart-item__remove {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 2em;
  }
  .cart .up, .cart .down {
    background: #0e9e87;
    color: #fff;
    padding: 0.4em 0.2em;
  }
  .form__group {
    margin-bottom: 2.8em;
  }
  .order-value {
    margin: 2em 0 4em;
  }
  .order .btn,
  .order .btn--no-bg {
    max-width: 320px;
    width: 100%;
    text-align: center;
  }
  .order .back {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    float: none;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 480px) {
  .fullpage-menu {
    font-size: 1.2em;
    margin: 0;
  }
  .fullpage .block {
    margin-bottom: 0;
  }
  .fullpage .block__typem, .fullpage .block__more {
    font-size: 1.2em;
  }
  .fullpage .block .title {
    font-size: 2.3em;
  }
  .fullpage .block__desc {
    font-size: 1.14em;
  }
  .fullpage .block__more {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
